/* BEGIN GLOBALS */
body,html {
    background-color: #181825;
}
@font-face {
    font-family: 'Nerd Font';
    src: url('Hack Regular Nerd Font Complete.ttf') format('truetype');
}
@font-face {
    font-family: 'hack';
    src: url('Hack Regular Nerd Font Complete.ttf') format('truetype');
}
.wholebody {
margin: 0 auto;
padding: 10px;
}
/* BEGIN LEFTSIDE */
.leftside {
width: 95%;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
position: absolute;
top: -15px; 
left: 50px; 
z-index: 0; 
}
.image {
width: 150px;
height: 150px;
border-radius: 50%;
border: 5px solid purple;
overflow: hidden; /* hides the corners of the image that stick out from the circle */
position: absolute;
top: 5px; 
left: 50px; 
z-index: 1; 
}
.image img {
display: block; /* removes any default margins on the image */
max-width: 100%; /* ensures the image scales down to fit the circle */
height: auto;
}
.clock-box {
display: flex;
justify-content: center;
align-items: center;
width: 45%;
margin: 20px auto;
line-height: 36px;
font-size: 24px;
font-family: hack;
color: white;
background-color: #3B3561;
text-decoration: none;
border-radius: 20px; /* rounds the corners of the tile */
border: 2px solid black;
}
.weatherbox {
display: flex;
justify-content: center;
align-items: center;
width: 45%;
margin: 20px auto;
line-height: 36px;
font-size: 24px;
font-family: hack;
color: white;
background-color: #3B3561;
text-decoration: none;
border-radius: 20px; /* rounds the corners of the tile */
border: 2px solid black;
}
.time {
position: relative;
left: 15px; 
padding: 10px;
}
.date {
padding: 10px;
}
/* BEGIN RIGHTSIDE */
.rightside {
width: 95%;
margin: 0 auto;
position: absolute;
top: 100px; 
z-index: 1; 
}
.searchbox {
display: flex;
width: 80%;
height: 64px;
max-width: 100%;
margin: 20px auto;
line-height: 64px;
font-size: 36px;
font-family: hack;
color: white;
background-color: #3B3561;
text-decoration: none;
border-radius: 20px;
border: 0px solid black;
position: absolute;
left: 195px;
top: -15px;
z-index: 0; 
}
input {
outline: none;
box-shadow: none;
justify-content: center;
align-items: center;
line-height: 64px;
font-size: 24px;
color: white;
background-color: #3B3561;
width: 100%;
border-radius: 20px;
border: 2px solid black;
}
input::placeholder {
color: lightgray;
}
.tile {
padding: 4%;
width: 75px;
position: relative;
top: 200px;
}
.icon {
font-family: 'Nerd Font';
font-size: 72px;
font-style: normal;
}
.navtiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}  
/* BEGIN PER TILE SPECIFICS */
#tile1:hover:before {
content: "Gmail";
font-family: hack;
font-size: 36px;
}
#tile1:before {
content: "\f02ab";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile2:hover:before {
content: "Notion";
font-family: hack;
font-size: 36px;
}
#tile2:before {
content: "\ebaf";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile3:hover:before {
content: "GitHub";
font-family: hack;
font-size: 36px;
}
#tile3:before {
content: "\ea84";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile4:hover:before {
content: "LinkedIn";
font-family: hack;
font-size: 36px;
}
#tile4:before {
content: "\f0e1";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile5:hover:before {
content: "Reddit";
font-family: hack;
font-size: 36px;
}
#tile5:before {
content: "\f281";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile6:hover:before {
content: "YouTube";
font-family: hack;
font-size: 36px;
}
#tile6:before {
content: "\f16a";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile7:hover:before {
content: "Feedly";
font-family: hack;
font-size: 36px;
}
#tile7:before {
content: "\e27b";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile8:hover:before {
content: "ChatGPT";
font-family: hack;
font-size: 36px;
}
#tile8:before {
content: "\f16a3";
font-size: 72px;
font-family: 'Nerd Font';
}
#tile9:hover:before {
content: "G Calendar";
font-family: hack;
font-size: 36px;
}
#tile9:before {
content: "\f073";
font-size: 72px;
font-family: 'Nerd Font';
}
