@font-face {
    font-family: 'hack';
    src: url('Hack Regular Nerd Font Complete.ttf') format('truetype');
}
body,html {
    background-color: #181825;
}
.sectionheading {
    font-family: hack;
    color: white;
    background-color: #3B3561;
    border-radius: 20px; /* rounds the corners of the tile */
    border: 4px solid black;
    padding: 10px;
    width: 1000px;
}
.nfglyph {
    font-size: 48px;
}
